<div class="container">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
          
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter description">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Deparment</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter deparment">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Stock</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter stock">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Precio Unitario</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter pu">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<!-- <tbody>
  <li *ngFor="let articulo of articles">
      {{articulo._id}},{{articulo.name}},{{articulo.description}},{{articulo.deparment}},{{articulo.stock}},{{articulo.pu}}.

  </li>

</tbody> -->